<rdf:RDF xmlns="http://siima.net/ontologies/2017/caex/" 
	xml:base="http://siima.net/ontologies/2017/caex/"
	xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#"
	xmlns:owl="http://www.w3.org/2002/07/owl#"
    xmlns:rdfs="http://www.w3.org/2000/01/rdf-schema#"
	xmlns:xsd="http://www.w3.org/2001/XMLSchema#"
	xmlns:siima="http://siima.net/ontologies/2017/caex/"
	xmlns:amlont="http://data.ifs.tuwien.ac.at/aml/ontology#">
	#* NOTE: VelocityContext is expected to be initiated with  JAXB object CAEXFile caex
	 with key "caexfile" in the constructor of VeloContainer (vcontext.put("caexfile", caex))
	 NOTE: $AnyValueHelper.getAnyTypeContent() is called with JAXB type parameter (NOT OWL)
	 NOTE: $URIHelper.createInstanceUri() is called with OWL Type parameter (NOT JAXB)
	 2017-06-09 CALLING MY OWN CLASS(AnyTypeValueHelper) METHOD: putVelocityContext("AnyValueHelper", anyContentHelper); 
	 Helper method for finding out Attributes Value's content: now [Value: null]
	 2017-05-28 FOR STRING FUNCTIONS PUT StringUtils class TO CONTEXT: $StringUtils
	 SEE: "StringUtils", org.apache.commons.lang3.StringUtils.class
	 SEE: https://stackoverflow.com/questions/6998412/velocity-string-function
	 2017-05-29 CALLING MY OWN CLASS(UriHelper) METHOD:putVelocityContext("UriHelper", helper) 
	 SEE: https://stackoverflow.com/questions/20786403/calling-a-java-method-in-velocity-template
	 *#
	
	#set( $amlns = 'http://data.ifs.tuwien.ac.at/aml/ontology#')
	#set( $xsdns = 'http://www.w3.org/2001/XMLSchema#')
	## -- CAEXFile --
	#set( $URIhelp = $UriHelper.createInstanceUri("CAEXFile",null,null,"$caexfile.FileName") )
	<owl:NamedIndividual rdf:about="${URIhelp}">
		<rdf:type rdf:resource="${amlns}CAEXFile"/>
	</owl:NamedIndividual>
	
	## -- InstanceHierarchy --
	#foreach ($ih in $caexfile.getInstanceHierarchy())
	#set( $URIhelp = $UriHelper.createInstanceUri("InstanceHierarchy","$ih.Name",null,"$ih.Name") )
	<owl:NamedIndividual rdf:about="${URIhelp}">
		<rdf:type rdf:resource="${amlns}InstanceHierarchy"/>
	</owl:NamedIndividual>		
    #end
	
	## -- InternalElement --
	#foreach ($ih in $caexfile.getInstanceHierarchy())
       #foreach ($ie in $ih.InternalElement)
			#walkIElements($ie, $ih)
		#end		
    #end

	## --Recursive walk through InternalElements--
	## NOTE: $AnyValueHelper.getAnyTypeContent() is called with JAXB type parameter (NOT OWL)
	## NOTE: $URIHelper.createInstanceUri() is called with OWL Type parameter (NOT JAXB)
	#macro(walkIElements $node $ihierarchy)
	#set( $sucref = $node.RefBaseSystemUnitPath )
	#set( $SUCrep = $StringUtils.replace($sucref,"/","_") )
	#set( $URIhelp = $UriHelper.createInstanceUri("InternalElement","$ihierarchy.Name","$node.Name", "$node.Name") )
	<owl:NamedIndividual rdf:about="${URIhelp}">
		<rdf:type rdf:resource="${amlns}InternalElement"/>
		<amlont:name rdf:datatype="${xsdns}string">$node.Name</amlont:name>
		<amlont:iD rdf:datatype="${xsdns}string">$node.ID</amlont:iD>
		#set( $URIhelp = $UriHelper.createInstanceUri("SystemUnitClass","$ihierarchy.Name","$node.Name", "${SUCrep}") )
		<amlont:refBaseSystemUnitPath rdf:resource="${URIhelp}"/>
		## -- attribute property --
		#foreach ($att in $node.getAttribute())
			#set( $URIhelp = $UriHelper.createInstanceUri("Attribute","$ihierarchy.Name","$node.Name", "$att.Name") )
			<amlont:attribute rdf:resource="${URIhelp}"/>
		#end
	</owl:NamedIndividual>	
	#if ($node.InternalElement.size() > 0)
		#foreach ($child in $node.InternalElement)
			#walkIElements($child $ihierarchy)
		#end
	#end
	#end
	## -- macro end
	
	## -- Attribute --
	#foreach ($ih in $caexfile.getInstanceHierarchy())
       #foreach ($ie in $ih.InternalElement)
			#walkIElementsForAttributes($ie $ih)
		#end		
    #end
	
	## --Recursive attribute creation from all InternalElements--
	## NOTE: $AnyValueHelper.getAnyTypeContent() is called with JAXB type parameter (NOT OWL)
	## NOTE: $URIHelper.createInstanceUri() is called with OWL Type parameter (NOT JAXB)
	#macro(walkIElementsForAttributes $node $ihierarchy)
		#foreach ($att in $node.getAttribute())
				#set( $ATTValue = $AnyValueHelper.getAnyTypeContent("AttributeType", $att, "Value") )
				#set( $ATTDefValue = $AnyValueHelper.getAnyTypeContent("AttributeType", $att, "DefaultValue") )
				#set( $URIhelp = $UriHelper.createInstanceUri("Attribute","$ihierarchy.Name","$node.Name", "$att.Name") )
				<owl:NamedIndividual rdf:about="${URIhelp}">
				<rdf:type rdf:resource="${amlns}Attribute"/>
					<amlont:name rdf:datatype="${xsdns}string">$att.Name</amlont:name>
					<amlont:attributeDataType rdf:datatype="${xsdns}string">$att.AttributeDataType</amlont:attributeDataType>
					#if ($ATTDefValue)
						<amlont:defaultValue rdf:datatype="${xsdns}string">$ATTDefValue</amlont:defaultValue>
					#end
					<amlont:value rdf:datatype="${xsdns}string">$ATTValue</amlont:value>
				</owl:NamedIndividual>
		#end
	#if ($node.InternalElement.size() > 0)
		#foreach ($child in $node.InternalElement)
			#walkIElementsForAttributes($child $ihierarchy)
		#end
	#end	
	#end
	## -- macro end

		
	## -- ExternalInterface -- (rdfs:subClassOf InterfaceClass)
	## NOTE: $AnyValueHelper.getAnyTypeContent() is called with JAXB type parameter (NOT OWL)
	## NOTE: $URIHelper.createInstanceUri() is called with OWL Type parameter (NOT JAXB)
	## In JAXB:InternalElement extends SystemUnitClassType
	## which has property externalInterface.
	## In JAXB: ExternalInterface is type InterfaceClassType
	#foreach ($ih in $caexfile.getInstanceHierarchy())
       #foreach ($ie in $ih.InternalElement)
			#walkIEForEInterface($ie $ih)
		#end		
    #end
	
	## --Recursive ExternalInterface creation from all InternalElements--
	#macro(walkIEForEInterface $node $ihierarchy)
		#foreach ($extint in $node.getExternalInterface())
				
				#set( $URIhelp = $UriHelper.createInstanceUri("ExternalInterface","$ihierarchy.Name","$node.Name", "$extint.Name") )
				#set( $RBCPath = $extint.getRefBaseClassPath() )
				<owl:NamedIndividual rdf:about="${URIhelp}">
				<rdf:type rdf:resource="${amlns}ExternalInterface"/>
					<amlont:name rdf:datatype="${xsdns}string">$extint.Name</amlont:name>
					<amlont:iD rdf:datatype="${xsdns}string">$extint.ID</amlont:iD>
					<amlont:refBaseClassPath rdf:datatype="${xsdns}string">$RBCPath</amlont:refBaseClassPath>				
				</owl:NamedIndividual>
		#end
	#if ($node.InternalElement.size() > 0)
		#foreach ($child in $node.InternalElement)
			#walkIEForEInterface($child $ihierarchy)
		#end
	#end	
	#end
	## -- macro end
	
	## -- InternalLink -- (rdfs:subClassOf CAEXObject)
	#foreach ($ih in $caexfile.getInstanceHierarchy())
       #foreach ($ie in $ih.InternalElement)
			#walkIEForInternalLink($ie $ih)
		#end		
    #end
	
	## --Recursive InternalLink creation from all InternalElements--
	#macro(walkIEForInternalLink $node $ihierarchy)
		#foreach ($intlink in $node.getInternalLink())
				#set( $ILINKName = $intlink.Name )
				#set( $ILNamerep = $StringUtils.replace($ILINKName," ","_") )
				#set( $URIhelp = $UriHelper.createInstanceUri("InternalLink","$ihierarchy.Name","$$node.Name", "$ILNamerep") )
				#set( $RPSideA = $intlink.getRefPartnerSideA() )
				#set( $RPSideB = $intlink.getRefPartnerSideB() )
				## Calling a sub macro
				#set( $SideURI = "" )
				#macroReferedExtIntURI($RPSideA $ihierarchy $SideURI)
				#set( $SideAURI = $SideURI )
				#set( $SideURI = "" )
				#macroReferedExtIntURI($RPSideB $ihierarchy $SideURI)
				#set( $SideBURI = $SideURI )
				
				<owl:NamedIndividual rdf:about="${URIhelp}">
				<rdf:type rdf:resource="${amlns}InternalLink"/>
					<amlont:name rdf:datatype="${xsdns}string">$intlink.Name</amlont:name>
					## refPartnerSideA and B are owl:ObjectProperties
					<amlont:refPartnerSideA rdf:resource="${SideAURI}"/> 
					<amlont:refPartnerSideB rdf:resource="${SideBURI}"/> 
					##<amlont:TEMPSideA rdf:datatype="${xsdns}string">$SideAURI</amlont:TEMPSideA>
					##<amlont:TEMPSideB rdf:datatype="${xsdns}string">$RPSideB</amlont:TEMPSideB>
				</owl:NamedIndividual>
		#end
	#if ($node.InternalElement.size() > 0)
		#foreach ($child in $node.InternalElement)
			#walkIEForInternalLink($child $ihierarchy)
		#end
	#end	
	#end
	## -- macro end
	
	## --Recursive InternalLink creation from all InternalElements--
	## See: https://stackoverflow.com/questions/6914312/calling-macro-function-in-velocity-template
	## "To get rid of spaces and blank lines use multi-line comments"
	## "preferably an externally defined result variable can be passed 'by reference'"
	#macro(macroReferedExtIntURI $RPSide $ihierarchy $SideURI)
		#if($SideURI)
		## TODO: Parsing link reference refPartnerSide
		#set( $Cond = $StringUtils.contains($RPSide,":") )
			#if($Cond)				
				## First part of link reference is IE ID
				#set( $IElemID = $StringUtils.split($RPSide,":")[0] )
				#set( $EIntName = $StringUtils.split($RPSide,":")[1] )
				#set( $IEFound = "" )
				#set( $IHReturn = "" )
				#macroFindExtInt($ihierarchy $IElemID $EIntName $IEFound $IHReturn)
					#if( $IEFound != "" )
					#set( $URIhelp = $UriHelper.createInstanceUri("ExternalInterface","$IHReturn","$IEFound", "$EIntName") )
					#set( $SideURI = $URIhelp )
					#end
					#if( $SideURI == "" )					
						#set( $SideURI = "EXTERNAL_INTERFACE_NOT_FOUND" )
					#end
			#end
		#end
	#end
	## -- macro end
	
	#macro(macroFindExtInt $ihierarchy $IElemID $EIntName $IEFound $IHReturn)
		## Param: $ihierarchy AND $EIntName NOT in USE
		#if($IEFound)
			## TEMP set( $IEFound = "TESTING_TESTING" )
			## -- SEARCHING REFERENCED InternalElement containing the ExternalInterface
			#set( $IEReturn = "" )
			#set( $IHReturn = "" )
			#foreach ($ih in $caexfile.getInstanceHierarchy())
				#if( $IHReturn == "" )
				#foreach ($ie in $ih.InternalElement)
				#if( $IEReturn == "" )
					#recursiveSearchIElementsWithID($ie $ih $IElemID $IEReturn $IHReturn)
				#end
				#if( $IEReturn != "" )
					#set( $IEFound = $IEReturn )				
				#end
				#end
				#end				
			#end
		#end
	#end
	## -- macro end
	
	#macro(recursiveSearchIElementsWithID $node $ih $IElemID $IEReturn $IHReturn)
		## TODO: $IHReturn ei toimi???? perille asti ainakaan???
		#if($IEReturn)
			##set( $IEReturn = "RECURSIVE_TESTING" )
			#set( $ThisID = $node.getID())
			#set( $ThisName = $node.getName())
			#set( $ThisHierarcyName = $ih.getName())
			##set( $IEReturn = "$IEReturn$ThisID" )
			## TODO:TOIMII
			
			#if($IElemID == $ThisID)
				##set( $IEReturn = "FOUND_FOUND_RECURSIVE_TESTING" )
				#set( $IEReturn = $ThisName )
				#set( $IHReturn = $ThisHierarcyName )
			#end
		#end
		#if ($node.InternalElement.size() > 0)
		#foreach ($child in $node.InternalElement)
			#recursiveSearchIElementsWithID($child $ih $IElemID $IEReturn $IHReturn)
		#end
		#end	
	#end
	## -- macro end
	
</rdf:RDF>